* {
    list-style: none;
}

a {
    color: #9B5B00;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
}

header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 100px 40px 100px 60px;

    background-color: #e8e8e8;

    border-bottom: 0.1px lightgray solid;

    margin: 0px;  
}

header img {
    width: 300px;
    height: 120px;

    font-weight: 500;
    padding: 20px;

    display: inline-block;
    position: 0;
    margin: 0px;
    padding: 0px;
    
    pointer-events: none;
}

.list {
    display: inline-block;
    
    border-bottom: 0.00005px solid lightgray;
}

.list ul {
    margin: auto 10px;
    padding: 0px;   
}

.list .items {
    padding: 12px;

    display: inline-block;

    text-transform: uppercase;

    letter-spacing: 3px;
}

.list a {
    color: #6c2414;
    
    font-family: 'Comfortaa', cursive;

    font-weight: bold;
    font-size: 18.5px;
    text-decoration: none;  
}

.list .items:hover {
    color: #9B5B00;
    opacity: 0.9;
    text-shadow: gray 1px 1px 3px;
    
    transition: 800ms;
}

footer {
    background-color: #e8e8e8;
    padding: 20px;

    height: 27vh;

    display: flex;

    align-items: center;
    justify-content: center;
}

footer div {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;

    align-items: center;
}

footer p {
    font-family: 'Comfortaa', cursive;

    text-align: center;
    color: #6c2414;

    font-size: 15px;
    line-height: 5px;

    width: fit-content;
}
