main {
    display: flex;

    align-items: center;
    justify-content: left;

    width: 100%;
    height: auto;

    margin-top: 0;

    background-color: #f2f2f2;
}

.posts {
    display: flex;

    flex-direction: column;
    
    width: 70%;
    height: auto;
    position: relative;

    margin-top: 0px;
    margin: 0px auto 0px auto;

    padding: 20px 0px;

    align-items: center;
    justify-items: center;
}

.posts h1 {
    letter-spacing: 3px;

    margin-top: 20px;
    margin-bottom: 0px;
    padding: 25px auto 5px auto;
    text-align: left;
    
    width: 75%;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 23px;    
    text-transform: capitalize;
    color: #6c2414;

    -webkit-user-select: none;
    border-bottom: 0.1px lightgray solid;
}

.conteudo {
    width: 80%;
    height: 200px;

    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: unset;

    vertical-align: middle;

    margin: 2px;
}

.conteudo img {
    /*object-position: cover;*/
    width: 10em;
    height: 10em;

    padding: 10px;

    object-fit: cover;

    border-radius: 50%;
}

.conteudo img:hover {
    filter: drop-shadow(8px 8px 3px rgba(110, 110, 110, 0.4));
}

.posts p {
    text-align: justify;
    
    width: 70%;
    padding-left: 8px; 
    padding-right: 25px;
    
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #9B5B00;
}

.redes-sociais {
    margin: auto;
    display: flex;

    width: fit-content;

    padding: 20px 10px;

    flex-direction: row;

    justify-content: center;

    background-color: #f2f2f2;
}

.redes-sociais img {
    height: 60px;
    width: 60px;
}

.redes-sociais img:hover {
    filter: drop-shadow(8px 3px 3px rgba(110, 110, 110, 0.4));
}

.redes-sociais li {
    height: 70px;
    width: 70px;

    padding: 20px;
}